@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.hero_img{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
}

.hero_img::before{
	content: "";
	height: 200%;
	width: 280px;
	background-color: #e5e5e5;
	position: absolute;
	transform: rotate(-20deg) translateX(-100px);
}

.btn{
	transition: background-color 200ms, color 200ms;
}

.btn:hover{
	background-color: #ee957f;;
	color: white!important;
}

.wiggle{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wiggle::after{
	position: absolute;
	content: "";
	width: 64px;
	height: 9px;
	background-image: url("../imgs/title_underline.png");
	bottom: -20px;
}

.pricing{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	display: flex;
    flex-direction: column;
}

.pricing::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 7px;
	top: 0px;
	left: 0px;
	background-color: transparent;
	background-image: url(../imgs/bg_top.png);
    background-repeat: repeat-x;
    background-position: center center;
}

.pricing::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 7px;
	bottom: 0px;
	left: 0px;
	background-color: transparent;
	background-image: url(../imgs/bg_top_bottom.png);
    background-repeat: repeat-x;
    background-position: center center;
}

#pricing-container-small{
	height: 400px;
	width: 250px;
	background-color: #8fc8ad;
	margin: 10px;
	border-radius: 5px;
}

#pricing-container-large{
	height: 500px;
	width: 350px;
	background-color: #8fc8ad;
	margin: 10px;
	border-radius: 5px;
}